body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fill-field {
    width: 8em;
    text-align: center;
}

p {
    width: 10em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.submit-button {
    height: 1.5rem;
    width: 5rem;
}

img {
    max-height: 50vh;
}