<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Iris classification</title>
</head>
<body>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<h3>{{ message }} </h3>
<form action="" method="post">
    <div class="inputs">
        <p>
            <label for="Petal Length">Petal Length</label>
            <input type="text" class="fill-field" name="petal-length" placeholder="Put some value">
        </p>
        <p>
            <label for="Petal Width">Petal Width</label>
            <input type="text" class="fill-field" name="petal-width" placeholder="Put some value">
        </p>
        <p>
            <label for="Sepal Length">Sepal Length</label>
            <input type="text" class="fill-field" name="sepal-length" placeholder="Put some value">
        </p>
        <p>
            <label for="Sepal Width">Sepal Width</label>
            <input type="text" class="fill-field" name="sepal-width" placeholder="Put some value">
        </p>
    </div>
    <p>
        <input type="submit" class="submit-button" value="Predict">
    </p>
</form>
<img src="{{ url_for('static', filename='petalsepal.png') }}">

</body>
</html>